.alert-enter {
  opacity: 0;
  transform: translateX(100%);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}
/* .alert-enter-done {
  background-color: tomato;
} */

.alert-exit {
  opacity: 1;
  transform: translateX(0);
}
.alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms linear;
}
.alert {
  margin-left: 90px;
}
.filter-enter {
  opacity: 0;
  transform: translatey(-100%);
}
.filter-enter-active {
  opacity: 1;
  transform: translatey(0);
  transition: all 250ms linear;
}
.filter-enter-done {
  margin-top: 20px;
}

.filter-exit {
  opacity: 1;
  transform: translatey(0);
}
.filter-exit-active {
  opacity: 0;
  transform: translatey(-100%);
  transition: all 250ms linear;
}
